# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.auto.tfvars
terraform/tfplan
terraform/crash.log

# OS
.DS_Store

.idea/
*.log
test-results/